<div ng-init = "cc.getAllCommentOfUser(0,5)" >
<div class="col-md-12 col-sm-12 col-xs-12 blue-gradient" style="border:1px solid #e1e8ed;border-radius:5px 5px 0px 0px">
     <h4 class="text_com">Comments</h4>
</div>
<div class="col-md-12 col-sm-12 col-xs-12"  ng-repeat="n in getAllCommentOfUser" style="background-color:#fff;border:2px solid #e1e8ed;border-top:0px">
 <div class="col-md-1 col-sm-1 col-xs-1" style="padding:10px 0px 0px 0px;"  ui-sref="Profile({user : n.author})">
     <img ng-src="{{n.profileImage}}" class="img-responsive img-rounded hei_view" style="width:45px;height:45px"/>
  </div>
    <div class="col-md-11 col-sm-11 col-xs-11" style="padding:10px 12px 3px 10px;overflow:hidden;word-break:break-all;white-space:normal;" >
        <h4 style="display:inline;text-transform:capitalize;cursor:pointer" ui-sref="Profile({user : n.author})">{{n.author}}</h4> <span style="color:#92a1ad">@{{n.author}}</span>
         <br />
        <img src="images/circle.png" width="5" height="5"/>
        <span style="color:#92a1ad" ng-if="n.post_time != '1 minutes'">{{n.post_time}} ago</span><br/>
        <span style="color:#92a1ad" ng-if="n.post_time == '1 minutes'">Just now</span><br/>
        <!-- <span style="color:#92a1ad">{{n.post_time}} ago</span><br/> -->
        <!-- <p style="font-size:160%;color:#292f33;margin: 0 0 0px;line-height:19px"><b>{{n.title}}</b></p> -->
        <br/>
        <p style="color:#292f33;margin: 0 0 0px;line-height:19px">{{n.bodyTitle}}</p><br /> <br />
        <!-- <span style="color:#0072bb;cursor:pointer" ui-sref="FeedTagInfo({tagChild : n.tags})"># {{n.tags}}</span>  <br /> -->
        <img ng-src={{n.image}} class="img-responsive" /> <br />
        <!-- <a ng-click="hc.postVote(n.author,n.permlink,$index)"><img style="cursor:pointer" src="images/z12.png" /></a> <span style="color:#717f88;font-size:13px">${{n.upvote}}</span> &nbsp;&nbsp; -->
        <a ng-click="cc.postVote(n.author,n.permlink,$index)"><img ng-if="n.isVote == false" style="cursor:pointer" src="images/z12.png" /><img ng-if="n.isVote == true" style="cursor:pointer" src="images/z143.png" /></a>&nbsp;<span style="color:#717f88;font-size:13px">${{n.upvote}}</span> &nbsp;&nbsp;
        <span style="color:#717f88">.</span>&nbsp;
        <i class="fas fa-chevron-up"></i> <span style="color:#717f88;font-size:13px">{{n.net_votes}}</span>&nbsp;&nbsp;
        <span style="color:#717f88">.</span>&nbsp;
        <span style="color:#717f88;font-size:13px">Comment({{n.comments}}) </span>&nbsp;
        <!-- <span class="disp" style="color:#717f88;font-size:13px" ng-if="n.post_time != '1 minutes'">{{n.post_time}} ago</span>
        <span class="disp" style="color:#717f88;font-size:13px" ng-if="n.post_time == '1 minutes'">Just now</span> -->
        <!-- <span class="disp" style="color:#717f88;font-size:13px">{{n.post_time}} ago</span> -->
    </div>
</div>
</div>
