<script language=javascript type="text/javascript">window.history.forward();</script>
<div id=container style="background-color: #fff">
    <nav class="navbar " style="border-radius:0px;overflow-y:hidden;box-shadow:none;">
        <div class=container>
            <div class="navbar-header pad_left">
                <a class="navbar-brand " href="#"><img src="./1/images/8.png" class="pull-left img_mar10" style="margin-top: -8px;"/></a>
                <form class="navbar-form navbar-left login_pad_right">
                    <div class=input-group ng-controller="homeCtrl as hc">
                        <input class="form-control input" placeholder=Search... ng-model=search style="-webkit-box-shadow:none !important;padding-left: 7px;">
                        <div class=input-group-btn>
                            <button ng-disabled="!search.length" class="btn btn-default" type=submit style="height:34px;border-left:0px" ng-click="hc.getName(search)" ui-sref="FeedTagInfo({tagChild : search})">
                                <i class="fa fa-search" style="color:#717f88"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            </ul>
            <div class="collapse navbar-collapse" id=myNavbar>
                <ul class="nav navbar-nav navbar-right col-md-3 col-sm-2 col-xs-2 text-center pad_right set_nav" style=padding-top:10px>
                    <li style="padding:0px 0px !important;"><a href="https://discord.gg/PNwrUSp"><i class="fab fa-discord" style="color: #fff;font-size:32px;"></i></a></li>
                    <li style="padding:0px 0px !important;"><a href="https://www.facebook.com/ZapplInc/"><i class="fab fa-facebook-square" style="color: #fff;font-size:32px;"></i></a></li>
                    <li style="padding:0px 0px !important;"><a href="https://twitter.com/Zappl_Com"><i class="fab fa-twitter-square" style="color: #fff;font-size:32px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id=body style="margin-top:-29px;position: relative;background-image: linear-gradient(#21a3f2, #7b8dff);border-bottom-left-radius: 50% 20%;border-bottom-right-radius: 50% 20%;height:440px">
        <div class=container>
            <div class=col-md-3></div>
            <div class=col-md-6 style="margin-top:105px;text-align: center">
                <h1 style="color: #FFFFFF">Private Investment</h1>
                <h2 style="color: #FFFFFF">Into Zappl Inc</h2>
            </div>
            <div class=col-md-3></div>
        </div>
        <div class=clear></div>
    </div>
    <section style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding:100px 0;">

                        <div>
                            <h2 style="color: #1c1b1b;margin-bottom: 15px;padding: 0;z-index: 10;text-transform: capitalize; text-align:center">ZAPPL inc's still in its funding round.</h2>
                            <span></span>
                            <p style="text-align:center">Zappl.com and apps may by live by its currently only in beta.</p>
                        </div>

                        <!-- Start Feature Content -->
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <img alt="zappl app image" src="./1/images/graph.png">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div style="padding-top:0; text-align: left">
                                        <h2>Privately investing<br><small>In Zappl inc</small></h2>
                                        <p>Zappl Inc is a Registered S Corp, has fully revised its business plan and created an in-depth marketing plan for investors and for potential investors to review. </p>
                                        <p>We're selling up to 20% of our shares to investors who are willing to take a risk on the future of social media and Crypto Currency.</p>
                                        <hr>
                                        <p> If you're interested in investing in Zappl Inc please email us.
                                        <br> You will be required to sign a Business plan non disclosure agreement.
                                        <br> We will not be providing any outside information to people who don't sign the BPNA</p>
                                        <a href="mailto:invest@zappl.com">Send an Email </a>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="app-video" style="background-image: linear-gradient(#21a3f2, #7b8dff);">
        <div class="app-video-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="app-video-area">
                            <h2>Watch Promo Video</h2>
                            <a class="app-video-play-btn" href="https://www.youtube.com/watch?v=ULKV_c76nHI" target="_blank"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
