<script language="javascript" type="text/javascript">
    window.history.forward();
</script>

<div id="container">
<!------navbar------------->
  <nav class="navbar " style="border-radius:0px;overflow-y:hidden;box-shadow:none;">
    <div class="container">
      <div class="navbar-header pad_left" >
        <a class="navbar-brand " href="#"><img src="./1/images/8.png"  class="pull-left img_mar10" style="margin-top: -8px;" /></a>
        <form class="navbar-form navbar-left login_pad_right">
          <div class="input-group" ng-controller ="homeCtrl as hc">
              <input type="text" class="form-control input" placeholder="Search..." ng-model="search" style="-webkit-box-shadow:none !important;padding-left: 7px;">
                 <div class="input-group-btn">
                     <button ng-disabled="!search.length" class="btn btn-default" type="submit" style="height:34px;border-left:0px"  ng-click="hc.getName(search)" ui-sref="FeedTagInfo({tagChild : search})">
                      <i class="fa fa-search" style="color:#717f88"></i>
                     </button>
                </div>
         </div>
       </form>
      </div>
    </div>
  </nav>
<!------navbar------------->






  <div id="body" style="background-image:url(./1/images/login_background.png);margin-top:-29px;background-size:cover;height:840px" >
     <div class="container" >
        <div class="col-md-3"></div>
          <form class="form" ng-controller="loginCtrl">
            <div class="col-md-6 col-xs-12 text-center login_section"  style="padding:50px 50px;">
                <img src="./1/images/blue_logo.png" >
                <h2 style="font-weight:bold">Welcome to zappl</h2>
                <p style="color:#66757f">Login with Steem post key.</p>
                <div class="form-group">
                   <input id="test" class="input" placeholder="User name" type="text" ng-model="name"   style="padding:20px;width:100%" required=" "/>
                </div>
                <div class="form-group">
                   <input type="password" ng-model="password" class="input"  placeholder="Password" style="padding:20px;width:100%" required=" "/>
                   <div style="color:red">{{errorMessage}}</div>
                </div>
                <div class="form-group" >
                  <a style="color:#292f33">
                  <input type="submit" id="btnSubmit" class="btn button_layout" ng-click="verifyUser()" value="login">
                  </a>
                </div>



                <!-- <div>Hello SteemRPC</div>

    <div style="padding-top: 20px" id="success"></div>

    <div style="padding-top: 20px">
        <table>
            <tbody id="dynamic_global"></tbody>
        </table>
    </div> -->





		<hr>
		 <p>Not a member? <a href="https://www.youtube.com/watch?v=65E1obzcGtg">Sign Up</a></p>
          </div>
        </form>
        <div class="col-md-3"></div>
    </div>
    <div class="clear"></div>

  </div>
</div>
