<div><img style="margin: 150px;margin-left: 450px;" src="1/images/comingsoon.png" alt="coming-soon"></div>

<!-- <script>$('#myModal').on('shown.bs.modal', function () {
    var width = $(window).width();
    if(width < 480){
        $(this).hide();
    }
});
</script> -->
<!-- <div id="body" class="width">
<aside class="sidebar small-sidebar left-sidebar" style="margin-top:-9px">
   <ul>
     <li>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec" >
         <h4 style="color:#66757f;text-transform:capitalize">Messages</h4>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
               <div class="col-md-2 col-sm-2 col-xs-2" style="padding:10px 0px 0px 0px">
                     <img src="images/z5.png" width="40" height="37" />
               </div>
            <a href="#myModal" data-toggle="modal"> <div class="col-md-10 col-sm-10 col-xs-10" style="padding:5px 3px 5px 10px" style="outline:0" >
                     <h5 class="headfive">Zappl</h5>
                     <p style="color:#66757f;margin: 0 0 0px;line-height:19px;">Loren ipsum is simply dummy text of the printing and typesetting industry.                      </p>
              </div></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
               <div class="col-md-2 col-sm-2 col-xs-2" style="padding:10px 0px 0px 0px">
                     <img src="images/z3.png" width="40" height="37" />
               </div>
               <div class="col-md-10 col-sm-10 col-xs-10" style="padding:5px 3px 5px 10px">
                     <h5 class="headfive">Zappl</h5>
                     <p style="color:#66757f;margin: 0 0 0px;line-height:19px;">Loren ipsum is simply dummy text of the printing and typesetting industry.                      </p>
               </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
               <div class="col-md-2 col-sm-2 col-xs-2" style="padding:10px 0px 0px 0px">
                     <img src="images/z3.png"  width="40" height="37" />
               </div>
               <div class="col-md-10 col-sm-10 col-xs-10" style="padding:5px 3px 5px 10px">
                     <h5 class="headfive">Zappl</h5>
                     <p style="color:#66757f;margin: 0 0 0px;line-height:19px;">Loren ipsum is simply dummy text of the printing and typesetting industry.                      </p>
               </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
               <div class="col-md-2 col-sm-2 col-xs-2" style="padding:10px 0px 0px 0px">
                     <img src="images/z5.png"  width="40" height="37" />
               </div>
               <div class="col-md-10 col-sm-10 col-xs-10" style="padding:5px 3px 5px 10px">
                     <h5 class="headfive">Zappl</h5>
                     <p style="color:#66757f;margin: 0 0 0px;line-height:19px;">Loren ipsum is simply dummy text of the printing and typesetting industry.                      </p>
               </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
               <div class="col-md-2 col-sm-2 col-xs-2" style="padding:10px 0px 0px 0px">
                     <img src="images/z3.png"  width="40" height="37" />
               </div>
               <div class="col-md-10 col-sm-10 col-xs-10" style="padding:5px 3px 5px 10px">
                     <h5 class="headfive">Zappl</h5>
                     <p style="color:#66757f;margin: 0 0 0px;line-height:19px;">Loren ipsum is simply dummy text of the printing and typesetting industry.                      </p>
               </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="padding:7px 15px">
              <span style="color:#66757f">Show more...</span>
        </div>
    </li>
    <li>
        <div class="col-md-12 col-sm-12 col-xs-12 div_sec"  style="margin-top:20px;border-radius:5px;padding:10px 15px">
           <p style="color:#ccd6dd;font-size:12px">@ 2017 zappl About Help Center Terms<br />
           Privacy Polocy Cookies Ads Info Brand <br />
           Blog Status AppsJobs Business Developers</p>
        </div>
    </li>
</ul>

</aside>
   <article>
      <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="border-radius:5px;padding-top:47px;border-bottom:0px;position:relative" >
           <div class="col-md-4">
           </div>
           <div class="col-md-8">
           <a href="#"><img src="images/blue_msg_background.png">
                <div class="topleft">
                 <p style="color:#fff;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                 <p style="text-align:right;padding-right:15px;color:#fff;margin-top:15px">2.00pm</p>
                </div></a>
           </div>
      </div>
       <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="border-radius:5px;padding-top:47px;border-top:0px;border-bottom:0px;position:relative" >           <div class="col-md-8">
            <a href="#"><img src="images/grey_msg_background.png">
                 <div class="topleft">
                 <p style="color:#66757f;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                 <p style="text-align:right;padding-right:15px;color:#66757f;margin-top:13px">1.58pm</p>
                </div></a>
           </div>
           <div class="col-md-4">
           </div>
       </div>

       <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="border-radius:5px;padding-top:47px;padding-bottom:60px;position:relative" >
           <div class="col-md-4">
           </div>
           <div class="col-md-8">
           <a href="#"><img src="images/blue_msg_background.png">
                <div class="topleft">
                 <p style="color:#fff;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                 <p style="text-align:right;padding-right:15px;color:#fff;margin-top:15px">1.47pm</p>
                </div></a>
           </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="border-radius:0px 0px 5px 5px;padding-top:30px;border-bottom:0px;position:relative;padding-bottom:30px" >
             <div class="col-md-10 col-sm-10 col-xs-12" style="padding-top:7px;padding:6px 0px 3px 7px">
                <input type="text" id="email2" class="form-control" placeholder="Write your zap..." style="padding:15px 0px 41px 15px" >
                <span class="fa fa-camera form-control-feedback" style="padding-right:0px;line-height:47px;color:#717f88;margin-top:26px"></span>
             </div>
            <div class="col-md-2 col-sm-2 col-xs-12" style="padding-top:7px;padding:6px 0px 3px 7px">
              <button type="button" class="btn button_layout" style="padding:7px 30px !important"><span style="color:3292f33;font-weight:600">Post</span></button>
            </div>
      </div>
      </article>
</section>

 <div class="clear"></div>
    </div> -->

    <!-- Modal -->
    <!-- <div class="modal fade hidden-md hidden-sm hidden-lg" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog"> -->

          <!-- <div class="modal-content">
            <div class="modal-header" style="border-bottom:0px">
              <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" style="padding:20px 0px">
              <div class="col-xs-12">
                   <div class="col-xs-2">
                   </div>
                   <div class="col-xs-10" style="padding-right:0px">
                       <img src="images/blue_msg_background.png">
                             <div class="topleft">
                                 <p class="line_mobile" style="color:#fff;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                                <p class="line_mobile1" style="text-align:right;padding-right:15px;color:#fff;margin-top:15px">2.00pm</p>
                             </div>
                  </div>
             </div>

             <div class="col-xs-12">
                <div class="col-xs-10" style="padding-left:0px">
                    <img src="images/grey_msg_background.png">
                           <div class="topleft">
                                <p class="line_mobile" style="color:#66757f;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                               <p class="line_mobile1" style="text-align:right;padding-right:15px;color:##66757f;margin-top:15px">1.59pm</p>
                           </div>

                </div>
                <div class="col-xs-2">
                </div>
           </div>

           <div class="col-xs-12">
                   <div class="col-xs-2">
                   </div>
                   <div class="col-xs-10" style="padding-right:0px">
                       <img src="images/blue_msg_background.png">
                             <div class="topleft">
                                 <p class="line_mobile" style="color:#fff;margin: 0 0 0px;line-height:28px">Loren ipsum is simply dummy text of the printing typesetting industry.Loren ipsum has been the industry's.</p>
                                <p class="line_mobile1" style="text-align:right;padding-right:15px;color:#fff;margin-top:15px">2.00pm</p>
                             </div>
                  </div>
             </div>
             <div class="col-xs-12">

                <div class="col-xs-12" style="padding-top:7px;padding:6px 0px 3px 7px">
                    <input type="text" id="email2" class="form-control" placeholder="Write your zap..." style="padding:15px 0px 41px 15px" >
                    <span class="fa fa-camera form-control-feedback" style="padding-right:0px;line-height:47px;color:#717f88;margin-top:26px"></span>
                 </div>
                <div class="col-xs-12 text-right" style="padding-top:7px;padding:6px 0px 3px 7px">
                  <button type="button" class="btn button_layout" style="padding:7px 30px !important"><span style="color:3292f33;font-weight:600">Post</span></button>
                </div>



            </div>
            <div class="modal-footer" style="border-top:0px">

            </div>
          </div>

        </div>
    </div> -->
    <!--Modal-->
