<div id="body" class="width" ng-init='wc.getWalletDetails()'>
<aside class="one_column" >
            <div class="col-md-12 div_sec">
                <h4 class="text_com">Wallet</h4>
            </div>
            <div class="col-md-12 div_sec1" style="padding:10px">
                <div class="text-center white_claimed_button">
                           <span style="color:#696c6e;font-weight:600;font-size:15px;color:#66757f;">Unclaimed rewards : - {{wc.userWalletInfo.currentReward_firstValue}} SBD and {{wc.userWalletInfo.currentReward_secondValue}} STEEM</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
             <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
                <h4 style="color:#66757f;margin-bottom:-2px">BALANCES</h4>
             </div>
             <div class="col-md-12 col-sm-12 col-sm-12 div_sec1" style="border-top:0px;border-bottom:0px;padding-top:30px" >
                <div class="col-md-10 col-sm-10 col-xs-6 pad_zero">
                    <h5 style="color:#696c6e;display:inline;font-weight:600">Steem</h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 pad_zero wallet_pad_right" style="padding-top:4px !important">
                   <h5 style="color:#696c6e;font-weight:600;text-align:right;margin-bottom:0px;margin-top:0px">{{wc.userWalletInfo.steem}} STEEM</h5>
                </div>
                <div class="col-md-7  pad_zero">
                   <p style="color:#66757f;margin: 0 0 0px;line-height:19px;text-align:justify">Tradeable tokens that may be transferred anywhere at anytime.
                     Steem can be converted to STEEM POWER in a process called powering up.</p>  <br>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-sm-12 div_sec1" style="border-top:0px;border-bottom:0px ">
                <div class="col-md-10 col-sm-10 col-xs-6 pad_zero">
                    <h5 style="color:#696c6e;display:inline;font-weight:600">Steem Power</h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 pad_zero wallet_pad_right" style="padding-top:3px !important">
                   <h5 style="color:#696c6e;font-weight:600;text-align:right;margin-bottom:0px;margin-top:0px">{{wc.userWalletInfo.steemPower}} STEEM</h5>
                </div>
                 <div class="col-md-7 pad_zero">
                  <p style="color:#66757f;margin: 0 0 0px;line-height:19px;text-align:justify">Influence tokens which give you more control over post payouts and allow you to earn on curation rewards.</p>   <br>
                 </div>
            </div>

            <div class="col-md-12 col-sm-12 col-sm-12 div_sec1" style="border-top:0px;border-bottom:0px ">
                <div class="col-md-10 col-sm-10 col-xs-6 pad_zero">
                    <h5 style="color:#696c6e;display:inline;font-weight:600;">Steem Dollar</h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 pad_zero wallet_pad_right" style="padding-top:3px !important">
                   <h5 style="color:#696c6e;font-weight:600;text-align:right;margin-bottom:0px;margin-top:0px">$ {{wc.userWalletInfo.steemDollars}}</h5>
                </div>
                <div class="col-md-7 pad_zero">
                  <p style="color:#66757f;margin: 0 0 0px;line-height:19px;text-align:justify">Tokens worth about $1.00 of STEEM, currently collecting 0% APR.</p>  <br>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-sm-12 div_sec1" style="border-top:0px;">
                <div class="col-md-10 col-sm-10 col-xs-6 pad_zero">
                    <h5 style="color:#696c6e;display:inline;font-weight:600">Estimate Value</h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 pad_zero wallet_pad_right" style="padding-top:4px !important" >
                   <h5 style="color:#696c6e;font-weight:600;text-align:right;margin-bottom:0px;margin-top:0px">$ {{wc.userWalletInfo.estimateAccValue}}</h5>
                </div>
                <div class="col-md-7 pad_zero">
                  <p style="color:#66757f;margin: 0 0 0px;line-height:19px;text-align:justify">The estimated value is based on an average value of Steem in US dollars.</p>  <br>
                </div>
            </div>

             <div class="col-md-12 col-sm-12 col-xs-12 div_sec1">
                <h4 style="color:#66757f;margin-bottom:-2px">TRANSACTION HISTORY</h4>
             </div>
             <div class="col-md-12 col-sm-12 col-xs-12 div_sec1" style="padding:20px 15px;overflow:hidden;word-break:break-all;white-space:normal;" ng-repeat='n in wc.userWalletHistory'>
                <div class="col-md-10 col-sm-10 col-xs-12 pad_zero">
                   <h4 style="display:inline;text-transform:capitalize">{{wc.userWalletInfo.userName}}</h4> <span style="color:#92a1ad">@{{wc.userWalletInfo.userName}}</span>
                   <p style="color:#66757f;margin: 0 0 0px;line-height:19px;margin-top:6px;text-align:justify">Action : {{n.action}}</p>
                   <p style="color:#66757f;margin: 0 0 0px;line-height:19px;margin-top:6px;text-align:justify">Time : {{n.time}}</p>
                   <p style="color:#66757f;margin: 0 0 0px;line-height:19px;margin-top:6px;text-align:justify">Information:{{n.data}}</p>
                </div>
             </div>

</aside>
    <div class="clear"></div>
    </div>
